<!DOCTYPE html>
<html lang="en">
<head>
  <title>vertebroTech</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="HTML5 website template">
  <meta name="keywords" content="global, template, html, sass, jquery">
  <meta name="author" content="Bucky Maler">
  <link rel="stylesheet" href="/static/css/main.css">
  
</head>
<body>

<div class="perspective effect-rotate-left">
  <div class="container"><div class="outer-nav--return"></div>
    <div id="viewport" class="l-viewport">
      <div class="l-wrapper">
        <header class="header">
          <a class="header--logo" href="Index.html">
            <img src="/static/img/logo.png" alt="Global" width="70">
            <p>vertebrotech</p>
          </a>
          <button class="header--cta cta"></button>
          
        </header>
    
        <div class="intro">
        <form action='/predict' method="POST" class="work-request">
            <div class="work-request--information">
                <div class="information-name">
                    <input id="pel" name="pel" type="number" step="any" class="has-value" style="background-color: black;" style="background-color: black;">
                      <label for="pel">Pelvic incidence</label>
                </div>
                <div class="information-email">
                    <input id="pel_t" name="pel_t" type="number" step="any" class="has-value" style="background-color: black;">
                    <label for="pel_t">pelvic tilt</label>
                </div>
            </div>
            <div class="work-request--information">
                <div class="information-name">
                  <input id="lumbar" name="lumbar" type="number" step="any" class="has-value" style="background-color: black;">
                  <label for="lumbar">Lumbar lordosis angle</label>
                </div>
                <div class="information-email">
                  <input id="sacral" name="sacral" type="number" step="any" class="has-value" style="background-color: black;">
                  <label for="sacral">Sacral slope</label>
                </div>
            </div>
              <div class="work-request--information">
                <div class="information-name">
                  <input id="pelvic_r" name="pelvic_r" type="number" step="any" class="has-value" style="background-color: black;">
                  <label for="pelvic_r">Pelvic radius</label>
                </div>
                <div class="information-email">
                  <input id="degree" name="degree" type="number" step="any" class="has-value" style="background-color: black;">
                  <label for="degree">Degree spondylolisthesis</label>
                </div>
              </div>
            <input type="submit" value="Submit">
        </form> 
        {% if pred == 1 %}
        <p id = "demo" style="padding: 10px; border: 2px solid black; background-color: rgba(61, 157, 243, 0.2); border-radius: 25px; " onmouseover = "typeWriter1()"></p>
        <script>
          var i = 0;
          var txt = 'Spine analysis complete. The results indicate a normal condition.';
          var speed = 50;
          
          function typeWriter1() {
            if(i < txt.length) {
              document.getElementById("demo").innerHTML += txt.charAt(i);
              i++;
              setTimeout(typeWriter1, speed);
            }
          }
        </script>
        <p style="padding: 10px; border: 2px solid black; background-color: rgba(255, 108, 108, 0.2); border-radius: 25px;">Please note that this assessment is generated by an ML model and should not be solely relied upon for medical decisions. It is designed to provide a second opinion and assist healthcare professionals in their evaluation process. Always consult a qualified medical practitioner for accurate diagnosis and treatment recommendations.</p>
        {% elif pred == 0 %}
        <p id = "demo" style="padding: 10px; border: 2px solid rgb(0, 0, 0); background-color: rgba(61, 157, 243, 0.2); border-radius: 25px;" onmouseover ="typeWriter2()"></p>
        <script>var i = 0;
          var txt = 'Spine analysis complete. \nAn abnormal condition has been detected. If you are a patient, we strongly recommend visiting a qualified spine doctor for further evaluation and diagnosis.';
          var speed = 50;
          function typeWriter2() {
            if(i < txt.length) {
              document.getElementById("demo").innerHTML += txt.charAt(i);
              i++;
              setTimeout(typeWriter2, speed);
            }
          }
          </script>
        <p style="padding: 10px; border: 2px solid rgb(0, 0, 0); background-color: rgba(255, 108, 108, 0.2); border-radius: 25px;"> Please keep in mind that this assessment is generated by an ML model and should not be solely relied upon for medical decisions. It is intended to provide a second opinion and assist healthcare professionals in their evaluation process. Always consult a trusted medical practitioner for accurate diagnosis and personalized treatment recommendations.<a style="border: none; align-self: center; color:aliceblue" name="click here" id="click here" value = "click here to check near by hospitals" href="https://www.google.com/maps/search/spine+hospital/@26.8500081,75.7826032,17030m/data=!3m2!1e3!4b1?hl=en"> For nearby hospitals click here </a></p>
        {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="/static/js/vendor/jquery-2.2.4.min.js"><\/script>')</script>
<script src="/static/js/functions-min.js"></script>
</body>
</html>